.group
  %p.group__name group-name
  %p.group__last-message こんにちは
.group
  %p.group__name group-name
  %p.group__last-message こんにちは
.group
  %p.group__name group-name
  %p.group__last-message こんにちは
.group
  %p.group__name group-name
  %p.group__last-message こんにちは
.group
  %p.group__name group-name
  %p.group__last-message こんにちは
.group
  %p.group__name group-name
  %p.group__last-message こんにちは
.group
  %p.group__name group-name
  %p.group__last-message こんにちは
.group
  %p.group__name group-name
  %p.group__last-message こんにちは
.group
  %p.group__name group-name
  %p.group__last-message こんにちは
.group
  %p.group__name group-name
  %p.group__last-message こんにちは
.group
  %p.group__name group-name
  %p.group__last-message こんにちは
.group
  %p.group__name group-name
  %p.group__last-message こんにちは
.group
  %p.group__name group-name
  %p.group__last-message こんにちは
.group
  %p.group__name group-name
  %p.group__last-message こんにちは