.message
  .message__upper
    %p.message__upper--talker username
    %p.message__upper--date 2019-9-30
  %p.message__comment こんにちは
.message
  .message__upper
    %p.message__upper--talker username
    %p.message__upper--date date
  %p.message__comment こんにちは
.message
  .message__upper
    %p.message__upper--talker username
    %p.message__upper--date date
  %p.message__comment こんにちは
.message
  .message__upper
    %p.message__upper--talker username
    %p.message__upper--date date
  %p.message__comment こんにちは
.message
  .message__upper
    %p.message__upper--talker username
    %p.message__upper--date date
  %p.message__comment こんにちは
.message
  .message__upper
    %p.message__upper--talker username
    %p.message__upper--date date
  %p.message__comment こんにちは
.message
  .message__upper
    %p.message__upper--talker username
    %p.message__upper--date date
  %p.message__comment こんにちは
.message
  .message__upper
    %p.message__upper--talker username
    %p.message__upper--date date
  %p.message__comment こんにちは